<mat-toolbar color="primary">
    <mat-toolbar-row>
        <mat-icon (click)="drawer.toggle()">dehaze</mat-icon>
        <span class="example-spacer"></span>
        <mat-icon (click)="openHome()">home</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="base_container" [hasBackdrop]=true>
    <mat-drawer #drawer [mode]="'side'">
        <mat-list>
            <mat-list-item (click)="openChat()" (click)="drawer.toggle()"> Chat </mat-list-item>
            <mat-list-item (click)="openCharts()" (click)="drawer.toggle()"> Charts </mat-list-item>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <home *ngIf="showHome">
        </home>
        <chat *ngIf="showChat">
        </chat>
        <charts *ngIf="showCharts">
        </charts>
    </mat-drawer-content>
</mat-drawer-container>