<div class="content" role="main">
    <div class="setsquare">
        <div class="sqoverlay"><span class="sqovsp">0</span></div>
        <div class="groupsquare">
            <div class="squaref" (click)="buttonClicked('set1')" tabindex="0">
                <div class=" sqnot "><span class="sqsp ">1</span></div>
                <div class=" sqlettert " (click)="buttonClicked( 'set1') "><span>F</span></div>
            </div>
            <div class="squarev" (click)="buttonClicked( 'set2') " tabindex="0">
                <div class="sqnot "><span class="sqsp ">2</span></div>
                <div class=" sqlettert" (click)="buttonClicked( 'set3') "><span>V</span></div>
            </div>
        </div>
        <div class="groupsquare ">
            <div class="squares" (click)="buttonClicked( 'set3') " tabindex="0">
                <div class=" sqletterb " (click)="buttonClicked( 'set3') "><span>S</span></div>
                <div class="sqnob "><span class="sqsp ">3</span></div>

            </div>
            <div class="squaret" (click)="buttonClicked( 'set4') " tabindex="0">
                <div class=" sqletterb" (click)="buttonClicked( 'set4') "><span>T</span></div>
                <div class="sqnob "><span class="sqsp ">4</span></div>

            </div>
        </div>
    </div>
    <doughnutchart *ngIf="showDoughnutChart ">
    </doughnutchart>
    <radarchart *ngIf="showRadarChart ">
    </radarchart>
    <barchart *ngIf="showBarChart ">
    </barchart>
    <piechart *ngIf="showPieChart ">
    </piechart>
    <polarareachart *ngIf="showPolarAreaChart ">
    </polarareachart>
    <bubblechart *ngIf="showBubbleChart ">
    </bubblechart>
    <scatterchart *ngIf="showScatterChart ">
    </scatterchart>

</div>