<mat-card class="card-size">
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon class="icon-display active-icon " *ngIf="trackerPage.trackme" (click)="trackOff()">wifi_tethering</mat-icon>
            <mat-icon class="icon-display " *ngIf="!trackerPage.trackme" (click)="trackOn()">portable_wifi_off</mat-icon>
        </div>
        <mat-card-title>Location Tracker</mat-card-title>
        <mat-card-subtitle *ngIf="trackerPage.trackme">On</mat-card-subtitle>
        <mat-card-subtitle *ngIf="!trackerPage.trackme">Off</mat-card-subtitle>
    </mat-card-header>


    <mat-card-content>
        <div *ngIf="trackerPage.trackme">
            <span>Your Tracking Radius id ({{radius}} &nbsp; miles )</span>
            <br><br>
            <div class="example-button-row">
                <button mat-fab (click)="setRadius(0.5)">.5</button>
                <button mat-fab color="accent" (click)="setRadius(1)">1</button>
                <button mat-fab color="warn" (click)="setRadius(1.5)">1.5 </button>
                <button mat-fab color="primary" (click)="setRadius(2)">2</button>
            </div>
            <br>
            <span>A measure will be recorded as you move out with the radius from the last point of record</span>
        </div>
        <div class="example-container mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

                <!-- Position Column -->
                <ng-container matColumnDef="trackpoint">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.trackpoint}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="latlng">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Lat/lng </th>
                    <td mat-cell *matCellDef="let element"> {{element.latlng}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="datetime">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date/Time </th>
                    <td mat-cell *matCellDef="let element"> {{element.datetime}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="maplink">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> MapLink </th>
                    <td mat-cell *matCellDef="let element"> {{element.maplink}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="radius">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Radius </th>
                    <td mat-cell *matCellDef="let element"> {{element.radius}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>