.example-h2 {
    margin: 10px;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.example-margin {
    margin: 10px;
}

.card-size {
    height: 80%;
}

.example-form {
    width: 100%;
    height: 550px;
    overflow: hidden;
    overflow-y: scroll;
}

.example-full-width {
    width: 100%;
}

.example-button-row button,
.example-button-row a {
    margin-right: 10px;
    align-content: stretch;
}

.example-container {
    height: 200px;
    overflow: auto;
}

table {
    width: 100%;
}

.icon-display {
    transform: scale(1.5);
    margin-right: 8px;
}

.subrow {
    align-items: stretch
}

.active-icon {
    color: green;
}

.mat-card {
    display: flex;
    flex-direction: column;
}

.mat-card-header {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}

.mat-card-content {
    flex-grow: 1;
    overflow: auto;
}