<div class="flex">
    <div class="flex-item">
        <div style="display: block;">
            <canvas responsive=" true " maintainAspectRatio="true " width=350 height=350 baseChart [datasets]="chartDataSet.chartData" [labels]="chartDataSet.chartLabels" [options]="chartDataSet.chartOptions" [colors]="chartDataSet.chartColors" [legend]="chartDataSet.chartLegend"
                [chartType]="chartDataSet.chartType" [plugins]="chartDataSet.chartPlugins" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
    </div>
    <div class="flex-item">
        <table class="table table-responsive table-condensed">
            <tr>
                <th>time</th>
                <th *ngFor="let key of keySet">{{key}}</th>
            </tr>
            <tr *ngFor="let label of chartDataSet.chartLabels; let i=index ">
                <td>{{label}}</td>
                <td *ngFor=" let val of chartDataSet.chartData; let j=index ">{{val && val.data[i]}}</td>
            </tr>
        </table>

        <!--
        <button mat-button mat-raised-button color="primary " (click)="randomize() ">Randomize</button>
        <button mat-button mat-raised-button color="primary " (click)="pushOne() ">Push</button>
        <button mat-button mat-raised-button color="primary " (click)="changeColor() ">Recolor</button>
        <button mat-button mat-raised-button color="primary " (click)="hideOne() ">Toggle Series B</button>
        <button mat-button mat-raised-button color="primary " (click)="changeLabel() ">Change Label</button>
        -->
    </div>
</div>